.upload-pic-wrapper {
  margin: 0;
}

.upload-pic-wrapper .upload-pic-reminder {
  text-align: center;
  margin-top: 2rem;
}

.upload-pic-wrapper .upload-pic-wrapper {
  max-width: 512px;
  max-height: 512px;
}
