.check-status-wrapper {
    margin: auto;
    .server-status-text {
        text-align: center;
        min-height: 20px;
    }
    .btn {
        margin: auto;
        width: 278px;
        height: 65px;
        color: #fff;
    }
}