.pic-loading {
  margin-top: 4rem;
  text-align: center;
  font-size: 1rem;
}

@keyframes loading-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading-animation-1 {
  animation: loading-animation 1s infinite;
}

.loading-animation-2 {
  animation: loading-animation 1s ease 0.8s infinite;
}

.loading-animation-3 {
  animation: loading-animation 1s ease 1.4s infinite;
}
